API_URL=https://developement.server/api/
ONE_SIGNAL_APP_ID=
FACEBOOK_APP_ID=
FACEBOOK_CLIENT_TOKEN=
FACEBOOK_DISPLAY_NAME=
FACEBOOK_LOGIN_PROTOCOL_SCHEME=
APPLE_LOGIN_SERVICE_ID=
APPLE_LOGIN_REDIRECT_URL=
=